<nav>
    <div class="nav nav-tabs dash-tab" id="distnav-tab" role="tablist">
        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" 
            type="button" role="tab" aria-controls="nav-sales" aria-selected="true" [routerLink]="['/sales-persons']" 
            [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><img src="/admin/assets/images/complaints.svg" class="menuIcon" />Sales Persons
        </button>

        <button class="nav-link nav_item" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" 
            type="button" role="tab" aria-controls="nav-sales" aria-selected="true" [routerLink]="['/sales-persons/sales-perform']"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><img src="/admin/assets/images/complaints.svg" class="menuIcon" />Sales Performance
        </button>
    </div>
</nav> 