.cbox-text {
  h5 {
    font-size: 21px !important;
  }
  h4 {
    font-size: 23px !important;
    margin-bottom: 0px;
  }
}
.cc-content-area {
  span {
    font-size: 10px;
  }
}
.container-fluid {
  margin-top: 28px;
}
// .mytexttitle {
//   margin-top: 12px;
// }
.section-title {
  margin-bottom: 16px;
  padding-left: 0px;
}
.average-content-section{
  // padding: 0px !important;
  // margin: 0px !important;
}
.content{
  border-bottom: 10px solid gainsboro;
}

// .cont{
//   width: 100%;
// }
// .label_value{
//   padding: 4px 28px !important;
//   width: 7.5%;
// }
// .title_row{
//   width: auto;
//   margin-right: 10px !important;
// }
