<div class="content-wrapper main-section-container">

    <app-complaints-menu></app-complaints-menu>
    <section>
        <div class="mb-3" style="border: 0px;">
            <div class="mytextdiv d-flex align-items-center justify-content-between">
                <div class="mytexttitle">
                    COMPLAINTS HISTORY
                </div>
                <div class="divider"></div>
                <!-- <div class="divider hr_tag"></div> -->
                <div class="col-md-4 d-flex align-items-center justify-content-start">
                    <!-- <div class="col-md col-sm"> -->
                    <div class="select">
                        <select rows="1" class="seldrpdwn form-control" placeholder="" [(ngModel)]="currentYear"
                            (change)='onSelectYear($event)'>
                            <option *ngFor="let y of years" [value]="y.year">{{y.year}}</option>
                        </select>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-md col-sm"> -->
                    <div class="select">
                        <select rows="1" class="seldrpdwn form-control" placeholder="" [(ngModel)]="selStatus"
                            (change)='onSelectStatus($event)'>
                            <option value="All">All Complaints</option>
                            <option value="Open">Open</option>
                            <option value="Close">Close</option>
                            <!-- <option *ngFor="let p of products" [value]="p">{{p}}</option> -->
                        </select>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- <div class="divider"></div> -->
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="chart-container">
                        <div id="chart-container">

                            <ejs-chart style='display:block;' [chartArea]='chartArea' [legendSettings]='legend'
                                [width]='width' align='right' [primaryXAxis]='prXAxis' [primaryYAxis]='prYAxis'
                                [tooltip]='tooltip' [palettes]='palette'>
                                <e-series-collection>
                                    <e-series [dataSource]='chartData' type='StackingColumn' xName='x' yName='y'
                                        width='2' columnWidth=.40 [cornerRadius]='radius'></e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="average-content-section mb-4" style="padding: 0px !important;">
            <div class="row d-flex align-items-center">
                <!-- <div class="col-sm title_row btn-edit mb-3"> -->
                <div class="col-sm title_row mb-3">TARGET</div>

                <!-- <div class="col-sm title_row mb-3" *ngIf="toggleButton ===true" (click)="enable('target')">
					TARGET &nbsp;<i class="far fa-edit"></i>
				</div>
				<div class="col-sm title_row mb-3" *ngIf="toggleButton ===false" (click)="Save('target')">
					Update &nbsp;<i class="far fa-edit"></i>
				</div> -->
                <!-- <button class="btn col-sm" *ngIf="toggleButton ===true" (click)="enable('target')">TARGET &nbsp;<i
						class="far fa-edit"></i></button>
				<button class="btn col-sm" *ngIf="toggleButton ===false" (click)="Save('target')">Update &nbsp;&nbsp;<i
						class="far fa-edit"></i></button> -->
                <!-- </div> -->
                <div class="col-sm label_value mb-3" *ngFor="let yrData of finalData; let i=index;">
                    <div class="crt-val" *ngIf="toggleButton" data-tooltip="top" role="tooltip"
                        attr.aria-label="{{yrData.target | number}}"><label>{{yrData.target | shortNum}}</label></div>
                    <div class="crt-val" *ngIf="!toggleButton">
                        <input type="text" class="form-control" id="inputId" value="{{yrData.target}}"
                            [(ngModel)]="yrData.target" [disabled]='toggleButton' (change)="update(yrData)" />
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-sm title_row mb-3">ACTUAL</div>
                <div class="col-sm label_value mb-3" *ngFor="let yrData of finalData">
                    <div class="crt-val" data-tooltip="top" role="tooltip" attr.aria-label="{{yrData.y | number}}">
                        <label>{{yrData.y | shortNum}}</label>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-sm title_row">PERCENT</div>
                <div class="col-sm label_value" *ngFor="let yrData of finalData">
                    <div class="crt-val"><label>{{yrData.percent}}% <i class="fas fa-caret-down"></i></label></div>
                </div>
            </div>
        </div>




        <!-- NEW CODE QUARTER TARGETS -->
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-12"> -->
                <div class="section-title">
                    <h1>QUARTER TARGETS</h1>
                </div>
                <!-- </div> -->
                <!-- New Code -->
                <div class="col-3" *ngFor="let quarter of finalQuarterData">
                    <div class="card-circle">
                        <div class="cc-content">
                            <div class="cc-icon">
                                <div class="text">
                                    {{quarter.quarterTitle}}
                                    <!-- Q  
                                    <span>1</span> -->
                                </div>
                            </div>
                            <div class="count-box">
                                <div class="cbox-text">
                                    <h6>Target</h6>
                                    <h5 data-tooltip="top" role="tooltip" attr.aria-label="{{quarter.target | number}}"
                                        *ngIf="toggleQuater">{{quarter.target | shortNum}}</h5>
                                </div>
                                <div class="cbox-text">
                                    <h6>Actual</h6>
                                    <h4 data-tooltip="top" role="tooltip" attr.aria-label="{{quarter.y | number}}">
                                        {{quarter.y | shortNum}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="circle-bar">
                            <svg viewBox="0 0 36 36" class="circular-chart green">
                                <path class="circle-bg"
                                    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <path class="circle" stroke-dasharray="25, 100"
                                    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            </svg>
                            <div class="cc-content-area">
                                <div class="value newVal">{{quarter.percent}}% <i class="fas fa-caret-down"></i></div>
                                <span>Percent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- NEW CODE CURRENT STATUS -->
    <div class="loading" *ngIf="isLoading">
        <div id="loader"><!-- Animated logo --><img src="/admin/assets/images/loaderGreen.png" alt="Loading Logo"
                class="logo">
            <div class="spinner-border" role="status"></div>
            <p>Loading, please wait...</p>
        </div>
    </div>
</div>

<!-- <div id="load"> -->
<!-- </div> -->

<!-- <script>
    $(document).ready(function () {
        // Show loader immediately
        $('load').addClass('loading');

        // Set the checkout URL
        const checkoutUrl = "<%- checkoutUrl %>"; // Ensure this value is passed from the server-side code

        // Wait for 2 seconds, then redirect to checkout URL
        setTimeout(function () {
            window.location.href = checkoutUrl; // Redirect to the checkout page
        }, 2000);  // Adjust timeout as needed (e.g., 2000ms = 2 seconds)
    });
</script> -->