.cbox-text{
  h5{font-size: 21px !important;}
  h4{font-size: 23px !important; margin-bottom: 0px;}
}
.cc-content-area{
  span{font-size: 10px;}
}
.container-fluid{
  margin-top: 28px;
}
.section-title{
  margin-bottom: 16px;
  padding-left: 0px;
}
.select{
  margin-right: 10px;
}
.average-content-section{
  // padding: 0px !important;
  // margin: 0px !important;
}
.content{
  border-bottom: 10px solid gainsboro;
}